@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;;
    background-color: #e9c79f;
}

header {
    padding: 20px 0px 40px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #39352f;
}

#icon {
    min-width: 150px;
    width: 20%;
    border-radius: 50%;
    border: solid white 7px;
}

header hr {
    min-width: 300px;
    width: 60%; 
    margin:25px auto 0px auto; 
    background-color: white;
}
li, a {
    font-weight: 500;
    font-size: 16px;
    color: bisque;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 2%;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 7px;
    border-radius: 4px;
    background-color: #544c42;
}

main {
    width: 60%;
    min-width: 300px;
    margin: auto;
    padding: 50px 0px;
    font-size: 18px;
    font-weight: 400;
}

.main_img {
    width: 100%;
    border-radius: 20px;
    margin:10px 0 50px 0;
}

.diagram {
    width: 80%;
    border-radius: 20px;
    margin:10px 0 50px 10%;
    text-align: center;
}

footer {
    padding: 2.5% 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    background-color: #39352f;
}

h2 {
    font-weight: 600;
    padding-bottom: 20px;
}

h3 {
    font-weight: 500;
    padding-bottom: 15px;
}

p {
    padding-bottom: 30px;
}

.selected-page {
    padding: 5px;
    border-radius: 4px;
    background-color: #544c42;
}

.frame {
    padding: 30px 10px 10px 10px;
    width: 80%;
    margin: 50px auto;
    border-radius: 10px;
    border: solid;
    border-color: #e0d4bb;
    background-color: #e9e0b3; 
    border-width: 2px;
}

.frame p {
    padding-top: 20px;
    text-align: center;
    color: #4c4c4c;
}
.frame img {
    width: 100%;
    border-radius: 7px;
}

.frame {
    transition: all 0.2s ease 0s;
}

.frame:hover {
    border-color: #d1c3a6;
    border-width: 3px;
    background-color: #ece3b6;
    transform:scale(1.05)
}