* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;;
    background-color: #e9c79f;
}

header {
    padding: 20px 0px 40px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #473d30;
}

#icon {
    width: 20%;
    border-radius: 50%;
    border: solid white 7px;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: bisque;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 20px 5%;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

main {
    width: 60%;
    margin: auto;
    padding: 50px 0px;
    font-size: 18px;
    font-weight: 400;
}

.main_img {
    width: 100%;
    border-radius: 20px;
    margin:10px 0 50px 0;
}

.diagram {
    width: 80%;
    border-radius: 20px;
    margin:10px 0 50px 10%;
    text-align: center;
}

footer {
    padding: 2.5% 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    background-color: #473d30;
}

h2 {
    font-weight: 600;
    padding-bottom: 20px;
}

h3 {
    font-weight: 500;
    padding-bottom: 15px;
}

p {
    padding-bottom: 30px;
}



